@font-face{
    font-family: "josefin-sans";
    src: url('../fonts/josefin-sans/JosefinSans-Regular.ttf');
}

@font-face{
    font-family: "Alfa Slab One";
    src: url('../fonts/alfa-slab/AlfaSlabOne-Regular.ttf');
}
